<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="static/assets/img/favicon.ico">
<title>Blog sur le nutrition et le bodybuilding</title>
<!-- Bootstrap core CSS -->
<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet"/>
</head>
<body>

{% include 'navbar.html' %}

<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">Il faut trouver un nom</h1>
		<p class="lead">
			 Un site pour les bodybuilders et ceux qui veulent en apprendre plus.
		</p>
	</div>

	<section class="featured-posts">
	<div class="section-title">
		<h2><span>Tous les articles</span></h2>
	</div>
	<div class="container listfeaturedtag">
        <div class="row">
            {% for a in articles %}
                {% with article=a %}
                    {% include 'card.html' %}
                {% endwith %}
            {% endfor %}
        </div>

	</div>
	</section>
	{% include 'footer.html' %}
</div>

<script src="static/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
